.next-n-days {
  display: flex;
  justify-content: center;
  margin-top: 30px;

  .wrap {
    max-width: 800px;
    min-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;

    .title {
      border-bottom: 1px solid #ccc;
      padding: 10px;
    }
    .forecast-wrap {
      display: flex;
      justify-content: space-between;
      padding: 10px;

      .forecast-item {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        .item-day {
          height: 20px;
          line-height: 20px;
          font-size: 14px;
        }

        .item-condition-pic {
          height: 64px;
          line-height: 64px;
        }
      }
    }
  }
}
