.next-n-days {
  display: flex;
  justify-content: center;
  margin: 30px;

  .wrap {
    width: 800px;
    min-width: 375px;
    border: 1px solid #ccc;
    border-radius: 5px;

    .title {
      border-bottom: 1px solid #ccc;
      padding: 10px;
    }

    .forecast-wrap {
      display: flex;
      justify-content: space-between;
      padding: 10px;

      .forecast-item {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;

        .item-day {
          height: 20px;
          line-height: 20px;
          font-size: 14px;
        }

        .item-condition-pic {
          height: 64px;
          line-height: 64px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .next-n-days {
    .wrap {
      margin: 20px;

      .forecast-wrap {
        flex-direction: column;

        .forecast-item {
          flex-direction: row;
          justify-content: space-between;

          .item-up {
            height: 40px;

            &.text {
              justify-content: right;
            }

            img {
              height: 100%;
            }
          }

          .item-down {
            width: 50%;
          }
        }
      }
    }
  }
}
